{
  "env": {
    "jasmine": true,
    "node": true,
    "mocha": true,
    "browser": true,
    "builtin": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:ava/recommended"
  ],
  "plugins": [
    "ava"
  ],
  "rules": {
    "no-unused-vars": [2, {"vars": "all", "args": "none"}]
  }
}
