name: Knip

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  knip:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Setup Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: '22'

      - name: Install dependencies
        run: npm install

      - name: Run Knip
        run: npx knip
